body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header {
  max-width: 1200px;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background: url( '../assets/images/Gojou.jpg' ) no-repeat center;
  height: 600px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
  color: #484848;
}

.navbar li {
  list-style: none;
  padding: 5px 0;
  cursor: pointer;
  position: relative;
}

.navbar li a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  transition: 0.3s;
  background: #484848;
  margin-top: 4px;
}

.navbar li a:hover:after {
  width: 30px;
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn {
  padding: 16px 32px;
  border-radius: 32px;
  border: none;
  color: white;
  background: #484848;
  cursor: pointer;
}

.options {
  border-radius: 32px;
  background: #ffffff;
  width: 100px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
}

.search-header ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
  color: #484848;
}

.search-header li a {
  padding: 5px 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.search-header li a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  transition: 0.3s;
  background: #484848;
  margin-top: 4px;
}

.search-header li a:hover:after {
  width: 30px;
}